html {
    height: 100%;
    background-color: #444;
}

body {
    min-height: 100%;
    max-width: 640px;
    margin: auto;
}

h1,
form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

label[for^="len"] {
    /* labels are useful for screen readers but i don't wanna display them */
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#len-box {
    max-width: 70px;
    margin-right: 16px;
}

#pwd-buttons {
    justify-content: space-evenly;
}

#pwd-buttons button {
    width: 90px;
}

#pwd-buttons button {
    box-shadow: none;
}

#pwd-buttons button:active {
    background-color: white;
    color: rgb(13, 110, 253);
    box-shadow: 0px 0px 0px 5px rgba(13, 110, 253, 0.75);
}

#alertPlaceholder {
    width: fit-content;
    margin: 16px auto;
    text-align: center;
}